<% @user = User.find(phrase.user_id) %>
<div class="row phrase">
  <div class="span14">
    <div class="triangle-isosceles right">
      <p>
        <%= phrase.content %><br />
        <br />
        <small>Posted <%= time_ago_in_words(phrase.created_at) %> ago.</small>
      </p>
    </div>
  </div>
  <div class="span2">
    <%= gravatar_for @user, :size => 45 %><br />
    <%= @user.name %>
  </div>
</div>
