<% @user = User.find(phrase.user_id) %>
<tr>
  <td class="phrase">
    <div class="content"><%= phrase.content %></div>
    <div class="timestamp">
      Posted <%= time_ago_in_words(phrase.created_at) %> ago.
    </div>
  </td>
  <td class="phrase_info">
    <div><%= gravatar_for @user %></div>
    <span class="username"><%= @user.name %></span>
  </td>
</tr>
