<div class="page-header">
  <h1>Administration</h1>
</div>
<h2>Stories</h2>
<% if @stories.empty? %>
  <h4>Sorry, no stories yet.</h4>
<% else %>
  <div class="row">
    <div class="span16">
      <%= render @stories %>
    </div>
  </div>
  <div class="row">
    <div class="span16">
      <div class="digg_pagination">
        <%= will_paginate @stories, :container => false %>
      </div>
    </div>
  </div>
<% end %><br />
<br />
<h2>Users</h2>
<% if @users.empty? %>
  <h4>Sorry, no users yet.</h4>
<% else %>
  <div class="row">
    <div class="span16">
      <%= render @users %>
    </div>
  </div>
  <div class="row">
    <div class="span16">
      <div class="digg_pagination">
        <%= will_paginate @users, :container => false %>
      </div>
    </div>
  </div>
<% end %>
