<% if signed_in? %>
  <div class="row">
    <div class="span10">
      <h1 class="micropost">What's up?</h1>
      <%= render 'shared/micropost_form' %>
      <%= render 'shared/feed' %>
    </div>
    <div class="span6">
      <%= render 'shared/user_info' %>
    </div>
  </div>
<% else %>
  <h1>Recent Public Stories</h1>
  <p>Not Implemented yet.</p>
<% end %>
