<% user = story.user rescue User.find(story.user_id) %>
<div class="well">
  <div class="row">
    <div class="span14">
      <h3><%= link_to story.title, story_path(story) %></h3>
      <h4>
        <%= story.blurb %><br />
        <small><%= time_ago_in_words(story.created_at) %> ago.</small>
      </h4>
    </div>
    <div class="span1">
      <% if current_user?(user) %>
          <%= link_to "x", story, :class => "close",
                                  :method => :delete,
                                  :confirm => "You sure?",
                                  :title => story.title %>
      <% end %>
    </div>
  </div>
</div>